
html, body {
  border: 0;
  padding: 0;
  margin: 0;
  height: auto;
  background: #004853;
}

body {
  background: #004853;
  display: flex;
  justify-content: center;
  align-items: relative;
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.rounded{
  border-radius: 0 0 12px 12px;
  background-color: #004853;
}
form {
  background: white;
  width: 533px;
  height: 500px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7);

  font-family: lato;
  position: center;
  color: #333;
  border-radius: 10px;
}
form header {
  background:white;
  padding: 0px 20px;

  font-size: 1.2em;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
}
form label {
  margin-left: 20px;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 5px;
  position: relative;
}
form label span {
  color: #FF3838;
  font-size: 2em;
  position: absolute;
  left: 2.3em;
  top: -10px;
}
form input {
  
  width: 78%;
  margin-left: 20px;
  padding: 5px 30px;
  font-size: 1em;
  font-family: "Avenir Next";
  border-radius: 3px;
  border: none;
  border-color: transparent;
  line-height: 27px;
  font-size: 20px;
  
}
form .help {
  margin-left: 20px;
  font-size: 0.8em;
  color: #777;
}

.button {
  margin-left: 0px;
  height: 50px;
  width: 173px;
  color: #FFFFFF;
  font-family: 'FontAwesome', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  transform: translate(-50%, 0);
  background-color: #FB6902;
  outline: none;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.4);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.position{
  padding-left: 37%;
}
.regbutton {
  padding-top: 10px;
  border: none;
  background: none;
  color: #FFFFFF;
  font-family: 'FontAwesome', sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
 }
.button:hover {
  background-color: #33cc77;
}


.inside-the-footer
{
  height: 50px;
  width: 533px;
  border-radius: 0 0 12px 12px;	background-color: #01B9BD;
  text-align: center;
  font-family: 'FontAwesome', sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}



form img
{
  height: 62px;
  width: 318px;
  margin-left: 0px;
}

.welcome
{
  height: 30px;	width: 173px;	color: #004853;	font-family: 'FontAwesome', sans-serif;	font-size: 22px;	font-weight: 500;	line-height: 30px;	text-align: center;
}
.otherfont{
  color: #004853;	font-family: 'FontAwesome', sans-serif;	font-size: 22px;	font-weight: 500;	line-height: 30px;	text-align: center;


}

form hr
{
  width: 80%;
}

